<header class="header">
  <div class="logo">
    <h2>T<i class="fa-solid fa-heart left_heart"></i>H</h2>
  </div>

  <div class="menu-icon" id="menu-icon" (click)="toggleMenu()">
    <i class="fa-solid fa-bars"></i>
  </div>
  <nav class="navbar" id="navbar">
    <ul>
      <li><a href="#couple" class="active">Cặp đôi</a></li>
      <li><a href="#love-story">Chuyện tình yêu</a></li>
      <li><a href="#album">Album hình cưới</a></li>
      <li><a href="#event">Sự kiện cưới</a></li>
      <li><a href="#guestbook">Sổ lưu bút</a></li>
      <li><a href="#gift">Mừng cưới</a></li>
      <span class="underline"></span>
    </ul>
  </nav>
</header>
<div class="snow-container">
  <div *ngFor="let snow of snowflakes" class="snowflake" [ngStyle]="{
         left: snow.left,
         fontSize: snow.size,
         animationDuration: snow.duration,
         animationDelay: snow.delay
       }">❅</div>
</div>
<div class="content_wedding">
  <section id="banner" class="banner">
    <div class="overlay-banner"></div>

    <div class="slideshow" *ngFor="let img of imagesBanner; let i = index" [style.backgroundImage]="'url(' + img + ')'"
      [class.active]="i === currentIndex">
    </div>

    <div class="banner-content">
      <p class="date">SAVE THE DATE</p>
      <div class="name-wedding">
        <h1>Nguyễn Thăng</h1>
        <span>&</span>
        <h1> Phạm Hoa</h1>
      </div>
      <p class="date">30 Tháng 11 2025</p>
      <button class="btn" (click)="send()">
        <svg width="180px" height="60px" viewBox="0 0 180 60" class="border">
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
          <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
        </svg>
        <span>GỬI LỜI CHÚC</span>
      </button>
    </div>
  </section>

  <section id="couple" class="container">💑 Phần Cặp đôi</section>
  <section id="love-story" class="container">💌 Phần Chuyện tình yêu</section>
  <section id="album" class="container">📸 Album hình cưới</section>
  <section id="event" class="container">🎉 Sự kiện cưới</section>
  <section id="guestbook" class="container">📖 Sổ lưu bút</section>
  <section id="gift" class="container">🎁 Mừng cưới</section>
</div>
<div class="overlay" (click)="toggleMenu()">
  <nav class="navbar_mobile" (click)="$event.stopPropagation()">
    <div class="close_btn">
      <button (click)="closeMenu()">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <ul>
      <li *ngFor="let item of menuItems">
        <a href="{{ item.link }}" [class.active]="activeLink === item.link" (click)="onSelectLink(item.link)">
          {{ item.label }}
        </a>
      </li>
    </ul>
  </nav>
</div>
<button (click)="toggleMusic()" class="music-btn" [class.playing]="isPlaying">
  <i class="fa-solid" [ngClass]="isPlaying ? 'fa-volume-high' : 'fa-volume-xmark'"></i>
</button>